@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg_nav{
  background: radial-gradient(240% 100% at 50% 0%, #323A4D 0%, rgba(50, 58, 77, 0.898) 25%, rgba(50, 58, 77, 0.8) 100%);


}
.banner_shadow{
  /* box-shadow: 0px 1px 2px 0px #5C3E9833; */

/* box-shadow: 0px 4px 4px 0px #5C3E9829; */

/* box-shadow: 0px 8px 4px 0px #5C3E981A; */

box-shadow: 0px 16px 6px 0px #5C3E980A;

}
.bg_btns{
  background: linear-gradient(180deg, #B094E1 0%, #795AB5 50%, #795AB5 100%);
  box-shadow: 0px 1px 2px 0px #5C3E9833;

  box-shadow: 0px 4px 4px 0px #5C3E9829;
  
  box-shadow: 0px 8px 4px 0px #5C3E981A;
  
  box-shadow: 0px 16px 6px 0px #5C3E980A;
  
}
