@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
#menuToggle{
  display:none;
  position: relative;
  /* top: 50px;
  left: 50px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0; /* Adjusted to be right at the top of #menuToggle */
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.55s ease, color 0.3s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
  color: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ #menu {
  display: none; /* Change display to block when checked */
  transform: translate(0, 100%); /* Adjusted to slide in from below */
}
#menu{
  display :none;
}
.bg_nav{
  background: radial-gradient(240% 100% at 50% 0%, #323A4D 0%, rgba(50, 58, 77, 0.898) 25%, rgba(50, 58, 77, 0.8) 100%);


}
.banner_shadow{
  /* box-shadow: 0px 1px 2px 0px #5C3E9833; */

/* box-shadow: 0px 4px 4px 0px #5C3E9829; */

/* box-shadow: 0px 8px 4px 0px #5C3E981A; */

box-shadow: 0px 16px 6px 0px #5C3E980A;

}
.bg_btns{
  background: linear-gradient(180deg, #B094E1 0%, #795AB5 50%, #795AB5 100%);
  box-shadow: 0px 1px 2px 0px #5C3E9833;
/* 
  box-shadow: 0px 4px 4px 0px #5C3E9829;
  
  box-shadow: 0px 8px 4px 0px #5C3E981A;
  
  box-shadow: 0px 16px 6px 0px #5C3E980A; */
  
}
.boxshadow_hire{
  --tw-border-opacity: 1;
  border-color: hsl(263 87% 91% / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(263 87% 91% / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(221 21% 15% / var(--tw-text-opacity));
  --tw-shadow: 0 16px 6px hsl(260 42% 42% / 4%), 0 8px 4px hsl(260 42% 42% / 10%), 0 4px 4px hsl(260 42% 42% / 16%), 0 1px 2px hsl(260 42% 42% / 20%);
  --tw-shadow-colored: 0 16px 6px var(--tw-shadow-color), 0 8px 4px var(--tw-shadow-color), 0 4px 4px var(--tw-shadow-color), 0 1px 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.box_shadow_testi{
  --tw-shadow: 0px 16px 32px hsl(224 21% 25% / 8%), 0px 10px 20px hsl(224 21% 25% / 4%), 0px 6px 12px hsl(224 21% 25% / 2%), 0px 3px 6px hsl(224 21% 25% / 2%), 0px 1px 2px hsl(224 21% 25% / 1%);
  --tw-shadow-colored: 0px 16px 32px var(--tw-shadow-color), 0px 10px 20px var(--tw-shadow-color), 0px 6px 12px var(--tw-shadow-color), 0px 3px 6px var(--tw-shadow-color), 0px 1px 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.box_shadow_card_feature{
  --tw-shadow: 0px 8px 16px rgb(0 0 0 / 16%), 0px 5px 10px rgb(0 0 0 / 12%), 0px 3px 6px rgb(0 0 0 / 10%), 0px 2px 4px rgb(0 0 0 / 6%), 0px 0px 1px rgb(0 0 0 / 2%);
    --tw-shadow-colored: 0px 8px 16px var(--tw-shadow-color), 0px 5px 10px var(--tw-shadow-color), 0px 3px 6px var(--tw-shadow-color), 0px 2px 4px var(--tw-shadow-color), 0px 0px 1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background-image: radial-gradient(240% 100% at 50% 0%, #323a4d, #323a4d99 25%, #323a4d33);
}
@media(max-width:1240px){
  .nav_par{
    padding-left:10px;
    padding-right:10px;
  }
  .hero_section{
    padding-left:10px;
    padding-right:10px;
  }
}
@media(max-width:1032px){
.hero_images{
  padding-left:20px;
  padding-right:20px;
}
}
@media(max-width:908px){
  .content_image_hero{
    display:block;
    align-items:center;
    text-align:center;
  }
  .hero_btn{
    justify-content:center;
  }
  .hero_big_img{
    margin-top: 38px;
    display: flex;
    justify-content: center;
  }
  .hero_big_img img{
    width: 70%;
  }
}
@media(max-width:326px){
  .hero_btn{
    display:block;
  }
  .btn_2{
    margin-left:0px;
    margin-top:10px;
  }
}
@media(max-width:381px){
  .banner_shadow{
    display:none;
  }
}
@media(max-width:660px){
  #menuToggle{
    display:block;
  }
  .all_nav_hero{
    display:none;
  }
}
@media(max-width:788px){
  .grid_hero{
    grid-template-columns : 1fr 1fr;
    align-items:center;
  }
}
@media(max-width:776px){
  .pinterest,.square,.verizon,.weber,.wealthsimple,.yeti,.mailchimp,.ipsy,.canva,.afterpay{
    display:flex;
    justify-content:center;
    margin-top:1rem;
  }
}
@media(max-width:419px){
  .grid_hero{
    grid-template-columns:1fr;
  }
  .pinterest,.square,.verizon,.weber,.wealthsimple,.yeti,.mailchimp,.ipsy,.canva,.afterpay{
    margin-top:2rem;
  }
}
@media(max-width:478px){
  .hero_big_img img{
    width:80%;
  }
}
@media(max-width:1023px){
  .b_text{
    max-width:534px
  }
  .grid_about{
    max-width: 46rem;
    margin-left: auto;
    margin-right: auto;
  }
  .s_card_about{
    padding-bottom:55px;
  }
  .t_card_about{
    padding-bottom:90px;
  }
  .sm_img_text_about{
    display:block;
  }
  .side_text_about{
    margin-left:0;
    margin-top:10px;
  }
  .grid_of_two_about{
    max-width: 715px;
    margin-left: auto;
    margin-right: auto;
    margin-top:62px;
  }
}
@media(max-width:767px){
  .grid_of_two_about{
    grid-template-columns:1fr;
  }
  .grid_of_two_about{
    max-width: 37rem;
  }
  .side_text_about{
    margin-top:0px;
    margin-left:23px;
  }
  .sm_img_text_about{
    display:flex;
  }
  .b_text{
    font-weight:900;
    font-size:32px;
    line-height:37px;
  }
  .grid_about{
    max-width: 39rem;
    grid-template-columns:1fr;
  }
  .f_card_about{
    margin-bottom:0rem;
  }
  .s_card_about{
    margin-bottom:0px;
    padding-bottom:35px;
  }
  .t_card_about{
    margin-bottom:31px;
    padding-bottom:35px;
  }
}
@media(max-width:623px){
  .grid_about{
    margin-left:1rem;
    margin-right:1rem;
  }
  .grid_of_two_about{
    margin-top:16px;
    margin-left:1rem;
    margin-right:1rem;
  }
}
@media(max-width:454px){
  .sm_img_text_about{
    display:block
  }
  .sm_img_text_about{
    margin-top: 21px;
  }
  .side_text_about{
    margin-left:0;
    margin-top: 9px;
  }
}
@media(max-width:373px){
  .sec_img_text_about{
    display:block;
  }
  .sec_side_text{
    margin-left:0;
    margin-top:9px;
  }
}
@media(max-width:542px){
  .b_text{
    max-width: 29rem;
    padding-left:2rem;
    padding-right:2rem;
  }
}
@media(max-width:1024px){
  .container{
    max-width:768px;
    margin-left:auto;
    margin-right:auto;
  }
  .bg_img_feature img{
    margin-top: -76px;
  }
  .b_text_feature{
    font-weight: 900;
    font-size: 32px;
    line-height: 37px;
  }
  .sm_text_feature{
    font-size: 18px;
    padding-right: 20rem;
  }
  .grid_card_feature{
    grid-template-columns:1fr 1fr;
  }
  .head_txt_feature{
    font-weight: 900;
    font-size: 32px;
    line-height: 37px
  }
  .sm_text_feature_2{
     font-weight:400;
     font-text:18px;
     line-height:27px;
  }
  .head_txt_feature{
    padding-left:0;
    padding-right:0;
    margin-left:1rem;
  }
  .img_feature_sec{
    max-width: 481.4px;
    margin-left: -136px;
  }
}
@media(max-width:767px){
  .banner_feature{
    display:block;
  }
  .container{
    max-width:640px;
  }
  .head_txt_feature{
    padding-right:2rem;
  }
  .sec_img_feature_flex{
    display:flex;
    justify-content:center;
  }
  .grid_second_feature{
     display:block;
  }
  .grid_first_feature{
    margin-top:10rem;
    display:flex;
    flex-direction:column-reverse;
    align-items:center;
  }
  .feature_btn{
    justify-content:start;
  }
  .img_feature_sec img{
    max-width:90%;
  }
  .bg_img_feature{
    display:flex;
    justify-content: space-between;
    margin-left:0;
  }
  .bg_img_feature img{
    max-width:100%;
  }
  .b_text_feature{
    padding-right:2rem;
  }
  .sm_text_feature{
    width:auto;
    padding-right:2rem;
  }
}
@media(max-width:644px){
  .container{
    margin-left:1.5rem;
  }
  .grid_card_feature{
    grid-template-columns:1fr;
    margin-right:2.5rem;
  }
}
@media(max-width:360px){
  .banner_feature{
    display:flex;
  }
}